name: Deploy Spring Boot to EC2

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"

      - name: Build with Maven
        working-directory: ./ticketml
        run: mvn clean package -DskipTests

      # Không cần bước Verify nữa cho gọn

      - name: Copy JAR to EC2
        uses: appleboy/scp-action@master
        working-directory: ./ticketml/target # DI CHUYỂN VÀO THƯ MỤC TARGET
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
          port: 22
          source: "ticketml-0.0.1-SNAPSHOT.jar" # CHỈ COPY FILE
          target: "/home/ec2-user/app/" # ĐẾN THƯ MỤC APP

      - name: Execute deployment script on EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
          port: 22
          script: |
            # Không cần chmod nữa vì nó chỉ cần chạy 1 lần
            /home/ec2-user/app/deploy.sh
